* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.header-logo img {
  height: auto;
  width: 15vh;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 3vh;
}

.description {
  background-color: #58acf4;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.left-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.left-desc button {
  background-color: #3882f6;
  font-weight: bold;
  border-radius: 2vh;
  width: 30vh;
  height: 5vh;
  color: white;
  border-color: #3882f6;
}

.normal-text {
  font-size: 18px;
  color: #e5e7eb;
  text-align: center;
}

.right-desc img {
  height: auto;
  width: 55vh;
  padding: 10vh;
  border-radius: 50%;
  overflow: hidden;
}

.information {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10vh;
}

.title-information {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}

.images-information {
  padding-top: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap:50px;
}

.images-information img {
  flex: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 15px;
  
}

.quote {
  display: flex;
  background-color: #3882f6;
  justify-content: center;
  padding: 15vh;
  font-size: 30px;
  color: white;
  font-style: italic;
  text-align: center;
  flex-direction: column;
}

.quote div {
  text-align: right;
  font-weight: bold;
}

.outer-calltoaction {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.inner-calltoaction {
  display: flex;
  flex-direction: row;
  background-color: #58acf4;
  padding: 5vh;
  width: 150vh;
  border-radius: 2vh;
  justify-content: space-between;
}

.text-calltoaction {
  color: white;
  font-weight: bold;
}

.inner-calltoaction button {
  background-color: #3882f6;
  font-weight: bold;
  border-radius: 2vh;
  width: 20vh;
  color: white;
  border-color: #3882f6;
}

.footer {
  background-color: #58acf4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  color: #E5E7EB;
  height: 10vh;
}


@media only screen and (max-width: 450px) {
  .quote p {
    font-size: 1rem;
  }
  
  .right-desc img {
    height: auto;
    width: 30vh;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-information {
    font-size: 18px;
  }

  .quote div {
    font-size: 1rem;
  }

  .inner-calltoaction{
    text-align: center;
    flex-direction: column;
    gap: 25px;
  }
  

}