* {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header{
  background-color: #58acf4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.header-logo img{
  height: auto;
  width: 15vh;
}

.header a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 3vh;
}

.description{
  background-color: #58acf4;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.left-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.left-desc button{
  background-color: #3882f6;
  font-weight: bold;
  border-radius: 2vh;
  width: 30vh;
  height: 5vh;
  color:white;
  border-color: #3882f6;
}

.normal-text{
  font-size: 18px;
  color: #e5e7eb;
  text-align: center;
}

.right-desc img {
  height: auto;
  width: 55vh;
  padding: 10vh;
  border-radius: 50%;
  overflow: hidden;
}

.information{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10vh;
}

.title-information{
  font-size: 36px;
  font-weight:bolder;
  text-align: center;
}

.images-information{
  text-align: center;
  display: flex;
  padding: 5vh;
  justify-content:space-evenly;
}

.images-information img{
  border-width: 3px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 5vh;
  max-width: 25vh;
  height: auto;
}

.quote{
  display: flex;
  background-color: #3882f6;
  justify-content: center;
  padding: 15vh;
  font-size: 30px;
  color: white;
  font-style: italic;
  text-align: center;
  flex-direction: column;
}

.quote div{
  text-align:right;
  font-weight: bold;
}

.outer-calltoaction{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.inner-calltoaction{
  display: flex;
  flex-direction: row;
  background-color: #58acf4;
  padding: 5vh;
  width: 150vh;
  border-radius: 2vh;
  justify-content:space-between;
}

.text-calltoaction{
  color:white;
  font-weight: bold;
}

.inner-calltoaction button{
  background-color: #3882f6;
  font-weight: bold;
  border-radius: 2vh;
  width:20vh;
  color:white;
  border-color: #3882f6;
}

.footer{
  background-color: #58acf4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  color: #E5E7EB;
  height: 10vh;
} 
